1.	Develop a code for below scenario

In [41]:
d={0:"monkey",1:"rooster",2:"dog",3:"pig",4:"rat",5:"ox",6:"tiger",7:"rabbit",8:"dragon",9:"snake",10:"horse",11:"sheep"}
year=int(input("year:-"))
print(year)
rem=year%12
if rem in d:
    print(d[rem])

year:-2020
2020
rat

2.	A Quick Fox Transport Co. wants to develop an application for calculating amount based on distance and weight of goods. The charges (Amount) to be calculated as per rates given below. 
Input:  Distance to be travel: 520     
Weight of the goods: 50 
Output: Amount to be charged: 3120 /-

In [42]:
D=int(input("Distance to be travel:"))
W=int(input("Weight of the goods:"))
if D>=500:
    if W>=100:
        A=5*D
    elif W>=10 and W<100:
        A=6*D
    else:
        A=7*D
else:
    if W>=100:
        A=8*D
    else:
        A=5*D
print("Amount to be charged:",A)

Distance to be travel:75
Weight of the goods:3
Amount to be charged: 375


3.	The Entertainment Paradise

 A theater in Delhi wants to develop a computerized Booking System. The theater offers different types of seats. The Ticket rates are- Stalls- Rs. 625/-, Circle- Rs.750/-, Upper Class- Rs.850/- and Box- Rs.1000/-. A discount is given 10% of total amount if tickets are purchased on Cash. In case of credit card holders 5% discount is given. 
Input: 	Type of Seat: Circle    
Payment mode: cash
Output: Cost of ticket: 675

In [43]:
seat=input("Type of Seat:")
mode=input("Payment mode:")
if mode in ("cash"):
    if seat in "stalls":
        C=625-(625*(10/100))
    elif seat in "circle":
        C=750-(750*(10/100))
    elif seat in "upper_class":
        C=850-(850*(10/100))
    else:
        C=1000-(1000*(10/100))
else:
    if seat in "stalls":
          C=625-(625*(5/100))
    elif seat in "circle":
        C=750-(750*(5/100))
    elif seat in "upper_class":
        C=850-(850*(5/100))
    else:
        C=1000-(1000*(5/100))
print("Cost of ticket:",C)

Type of Seat:upper_class
Payment mode:cash
Cost of ticket: 765.0

4.	Develop a program that calculates the energy needed to heat water from an initial temperature to a final temperature. Your program should prompt the user to enter the amount of water in kilograms and the initial and final temperatures of the water. The formula to compute the energy is 
Q = M * (finalTemperature – initialTemperature) * 4184.
where M is the weight of water in kilograms, temperatures are in degrees Celsius,  and energy Q is measured in joules. (L6)

In [44]:
M=int(input("Amount of water(kg):"))
I=int(input("Initial temp of water:"))
F=int(input("Final temp of water:"))
Q=M*(F-I)*4184
print("Energy(Q) in joules:",Q)

Amount of water(kg):6
Initial temp of water:4
Final temp of water:3
Energy(Q) in joules: -25104

5.	Develop a program that prompts user to enter month and  print 
a.	“Winter ” -   December ,January and February
b.	“Spring”  -   March ,April and May
c.	“Summer”  --- June ,July, August
d.	“Autumn ”  -- September ,October, November

In [16]:
M=input("Enter the month:")
if M in ("december","january","february"):
    print("Winter")
elif M in ("march","april","may"):
    print("Spring")
elif M in ("june","july","august"):
    print("Summer")
else:
    print("Autumn")

Enter the month:august
Summer

6.	Body Mass Index

In [17]:
wt=int(input("Enter the weight in pounds:"))
ht=int(input("Enter the height in inches"))
W=wt*0.45359237
print(W)
H=ht*0.0254
print(H)
BMI=W/(H**2)
print(BMI)
if BMI<18.5:
    print("Underweight")
elif BMI>=18.5 and BMI<25.0:
    print("Normal")
elif BMI>=25.0 and BMI<30.0:
    print("Overweight")
else:
    print("Obese")

Enter the weight in pounds:50
Enter the height in inches4
22.6796185
0.1016
2197.092436372373
Obese

7.	Write a program that reads an integer between 100 and 1000 and adds all the digits in the integer 	(	ex: input 745 	# output =16	(7+4+5)	)

In [27]:
n=int(input("Enter integer:"))
sum=0
if n>100 and n<1000:
    while(n>0):
        rem=n%10
        sum=sum+rem
        n=n//10
    print("sum:",sum)
else:
    print("Not in range")

Enter integer:988
sum: 25

8.	Print all palindrome numbers between 1 to 1000.

In [30]:
for num in range(1,1000):
    rev=0
    temp=num
    while(num!=0):
        rem=num%10
        num=num//10
        rev=rev*10+rem
    if rev==temp:
        print(temp,"pallindrome")

1 pallindrome
2 pallindrome
3 pallindrome
4 pallindrome
5 pallindrome
6 pallindrome
7 pallindrome
8 pallindrome
9 pallindrome
11 pallindrome
22 pallindrome
33 pallindrome
44 pallindrome
55 pallindrome
66 pallindrome
77 pallindrome
88 pallindrome
99 pallindrome
101 pallindrome
111 pallindrome
121 pallindrome
131 pallindrome
141 pallindrome
151 pallindrome
161 pallindrome
171 pallindrome
181 pallindrome
191 pallindrome
202 pallindrome
212 pallindrome
222 pallindrome
232 pallindrome
242 pallindrome
252 pallindrome
262 pallindrome
272 pallindrome
282 pallindrome
292 pallindrome
303 pallindrome
313 pallindrome
323 pallindrome
333 pallindrome
343 pallindrome
353 pallindrome
363 pallindrome
373 pallindrome
383 pallindrome
393 pallindrome
404 pallindrome
414 pallindrome
424 pallindrome
434 pallindrome
444 pallindrome
454 pallindrome
464 pallindrome
474 pallindrome
484 pallindrome
494 pallindrome
505 pallindrome
515 pallindrome
525 pallindrome
535 pallindrome
545 pallindrome
555 pallindrome
565 pallindrome
575 pallindrome
585 pallindrome
595 pallindrome
606 pallindrome
616 pallindrome
626 pallindrome
636 pallindrome
646 pallindrome
656 pallindrome
666 pallindrome
676 pallindrome
686 pallindrome
696 pallindrome
707 pallindrome
717 pallindrome
727 pallindrome
737 pallindrome
747 pallindrome
757 pallindrome
767 pallindrome
777 pallindrome
787 pallindrome
797 pallindrome
808 pallindrome
818 pallindrome
828 pallindrome
838 pallindrome
848 pallindrome
858 pallindrome
868 pallindrome
878 pallindrome
888 pallindrome
898 pallindrome
909 pallindrome
919 pallindrome
929 pallindrome
939 pallindrome
949 pallindrome
959 pallindrome
969 pallindrome
979 pallindrome
989 pallindrome
999 pallindrome

9.	Print all Armstrong numbers between 1 to 1000.

In [31]:
for num in range(1,1000):
    temp=num
    sum=0
    while temp>0:
        digit=temp%10
        sum=sum+digit**3
        temp=temp//10
    if sum==num:
        print(num,"Armstrong")

1 Armstrong
153 Armstrong
370 Armstrong
371 Armstrong
407 Armstrong

10.	Write a Java program which iterates the integers from 1 to 100. For multiples of three print "Fizz" instead of the number and print "Buzz" for the multiples of five. When number is divided by both three and five, print "fizz buzz".

In [38]:
for i in range(1,100):
    if(i%3==0 and i%5==0):
        print("FizzBuzz")
    elif i%3==0:
        print("Fizz")
    elif i%5==0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

11.	Spider Problem: A spider present at the bottom of the well of height H, needs to get out of it, using the slippery wall of the well. It decides to climb up the well; it goes up U meters and slips down D meters in one single step. So, in each step it covers (U-D) meters, and if the spider gets out of the well by covering U meters in the last step it doesn’t a slip back. For example, if the spider climbs up 5 meters and slips down by 3 meters in a single step, it covers (U - D) m in each step and 96 m in 48 steps, but in the 49th step it climbs up 5 m and reaches out of the well and it will not slip down and the step is counted as one step.     
Input: Each test case will contain 3 integers ’H’ height of the well, next ’U’ meters climbs up in each step, and the last ’D’ meters slips down in each step.
Output:  The number of steps 'N' required to get out of the well.
Example 1:
 	Input:						Ouput 
	200 50 1					    5
	Example 2:
 	Input:						Output
	500 20 15					   98

In [40]:
H=int(input("Height of well:"))
U=int(input("Meters spider climbs up in each step"))
D=int(input("Meters spider slips down in each step"))
s=0
while H>=U:
    s=s+1
    H=H-(U-D)
s+=1
print("Number of steps:",v)

Height of well:50
Meters spider climbs up in each step5
Meters spider slips down in each step3
Number of steps: 24